---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const docs = await getCollection("docs");

  return docs.map((doc) => ({
    params: { slug: doc.id },
    props: { doc },
  }));
}

const { doc } = Astro.props;
const { Content } = await render(doc);

---

<h1>{doc.data.title}</h1>
<p>{doc.data.description}</p>

<article>
  <Content />
</article>