---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const docs = await getCollection("docs");

---

<BaseLayout title="Docs">
  <h1>Documentation</h1>

  <ul>
    {docs.map((doc) => (
      <li>
        <a href={`/docs/${doc.slug}`}>{doc.data.title}</a>
      </li>
    ))}
  </ul>
</BaseLayout>