---
import { getCollection , render} from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => ({
    params: { slug: post.id  },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);

---

<h1>{post.data.title}</h1>
<p>{post.data.description}</p>
<article>
  <Content />
</article>