
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="text-smaller">OUR PRODUCTS</h4>
                <p></p>
                <p><a href="{{ site.appstore }}"><b>P.D.U</b></a></p>
                <p><a href="{{ site.go-pdu }}"><b>go-pdu</b></a></p>
            </div>
            <div class="col-md-3">
                <h4 class="text-smaller">RESOURCES</h4>
                <p></p>
                <p><a href="/whitepaperv3.html"><b>White Paper</b></p>
                <p><a href="/zen.html"><b>Zen of PDU</b></p>
                <p><a href="/faq.html"><b>FAQ</b></a></p>
            </div>
            <div class="col-md-3">
                <h4 class="text-smaller">ABOUT US</h4>
                <p></p>
                <p><a href="/blog.html"><b>Blog</b></a></p>
                <p><a href="{{ site.telegram }}"><b>Contact Us</b></a></p>
            </div>
            <div class="col-md-3">
                <h2>ParaDigi Universe</h2>
                <p>A P2P social network</p>
                <div >
                    <a href="{{ site.twitter }}" class="icon mr-2">
                        <img src="/assets/images/brand-twitter.png"  width="24" height="24" class="p1"/>
                    </a>
                    <a href="{{ site.github }}" class="icon mr-2">
                        <img src="/assets/images/brand-github.png"  width="24" height="24" class="p1"/>
                    </a>
                    <a href="{{ site.telegram }}" class="icon">
                        <img src="/assets/images/brand-telegram.png"  width="24" height="24" class="p1"/>
                    </a>
                </div>
                
            </div>
        </div>
        <hr class="mt-4 mb-2">

        <div class="row">
            <div class="col-md-3">
                <p class="footer-text">&copy; 2023 App Name. All rights reserved.</p>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
                <a href="/UserAgreement.html" class="footer-text">User Agreement</a> | <a href="/PrivacyPolicy.html" class="footer-text">Privacy Policy</a> 
            </div>
        </div>

    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>