body {
  padding-top: 60px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-rounded-img {
  border-radius: 28%;
}
.hero {
  background-image: url("../images/hero-bg.svg");
  background-size: cover;
  background-position: center;
  color: var(--color-headings,#232b42);
  padding: 120px 0;
  text-align: left;
}
.hero-title {

  font-size: 3rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-top: 60px;
  margin-bottom: 30px;
}
.hero-description {
  font-size: 1.5rem;
  margin-bottom: 40px;
}
.hero-buttons {
  display: flex;
  justify-content: left;
  margin-bottom: 30px;
}
.hero-button {
  margin: 0 10px;
  padding: 12px 24px;
  font-size: 1.1rem;
  color: #fff;
  background-color: #206bc4;
  border-radius: 4px;
  text-decoration: none;
}
.features {
  padding: 80px 0;
}
.feature {
  text-align: center;
  margin-bottom: 60px;
}
.feature-icon {
  font-size: 48px;
  margin-bottom: 20px;
}
.feature-title {
  font-size: 24px;
  margin-bottom: 10px;
}
.feature-description {
  font-size: 18px;
  color: #777;
}
.display {
  /* background-color: #206bc4; */
  background-color: #fff;
  color: var(--color-headings,#232b42);

  background-size: cover;
  background-position: center;
  /* color: var(--color-headings,#232b42); */
  /* color: #fff; */
  padding: 80px 0;
  text-align: left;
}
.display-text {
  padding: 0 80px;
}
.display-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-bottom: 30px;
}
.display-subtitle {
  font-size: 1.25rem;
  font-weight:600;
  margin-bottom: 4px;
}
.display-description {
  font-size: 1rem;
  margin-bottom: 24px;
}
.map {
  padding: 80px 0;
}
.map-title {
  font-size: 48px; 
}
.photos {
  color: var(--color-headings,#232b42);
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 80px 0;
}
.photos-title {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin-bottom: 24px;

}
.download {
  padding: 80px 0;
}
.footer {
  background-color: #f5f5f5;
  padding: 60px 0;
  /* text-align: center; */
}
.footer-text {
  font-size: 14px;
  color: #777;
}