---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Home">
  <h1>ParaDigi Universe</h1>
  <p>
    A system for thinking, learning, and evolving in a decentralized way.
  </p>

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt.
  </p>
</BaseLayout>