<!DOCTYPE html>
<html lang="en">
<head>
    {% include head-custom.html %}
</head>
<body>
    
    {% include topnav.html %}

    <div class="page-wrapper">
        <!-- Page header -->
        <div class="page-header d-print-none">
          <div class="container-xl">
            <div class="row g-2 align-items-center">
              <div class="col">
                <h2 class="page-title">
                  Frequently Asked Questions
                </h2>
              </div>
              <!-- Page title actions -->
              <div class="col-auto ms-auto d-print-none">
                <div class="d-flex">
                  <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">Frequently Asked Questions</a></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Page body -->
        <div class="page-body">
          <div class="container-xl">
            <div class="card card-lg">
              <div class="card-body">
                <div class="space-y-4">

                  {% for faq_hash in site.data.faq %}  
                  {% assign faq_group = faq_hash[1] %}
                  {% assign parent_index = forloop.index %}
                  <div>
                    <h2 class="mb-3">{{parent_index}}. {{ faq_group.title }}</h2>
                    <div id="faq-1" class="accordion" role="tablist" aria-multiselectable="true">
                        
                        {% for faq in faq_group.faqs%}
                        {% assign inner_index = forloop.index %}

                        <div class="accordion-item">
                          <div class="accordion-header" role="tab">
                            <button class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#faq-{{ parent_index }}-{{ inner_index }}" aria-expanded="false">{{ faq.question }}</button>
                          </div>
                          <div id="faq-{{ parent_index }}-{{ inner_index }}" class="accordion-collapse collapse {% if inner_index == 1 %} show {% endif%}" role="tabpanel" data-bs-parent="#faq-{{ parent_index }}" >
                            <div class="accordion-body pt-0">
                              <div>
                                <p>{{ faq.answer}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}


                      </div>
                  </div>  
                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    {% include footer-custom.html %}

    </body>
</html>
