<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-custom.html %}
  </head>
  <body>
    {% include topnav.html %}
    <div class="page-wrapper">
      <!-- Page header -->
      <div class="page-header d-print-none">
        <div class="container-xl">
          <div class="row g-2 align-items-center">
            <div class="col">
              <h2 class="page-title">
                {{ page.title }}
              </h2>
            </div>
            <!-- Page title actions -->
            <div class="col-auto ms-auto d-print-none">
              <div class="d-flex">
                <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a href="#">{{ page.title }}</a></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Page body -->
      <div class="page-body">
            {{ content }}
      </div>
    </div>

    {% include footer-custom.html %}

  </body>
</html>